<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The World Wall</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container">
    <header class="row">
      <div class="col-md-10">
        <h1>Welcome to the World Wall!</h1>
        <p>Feel free to write a message to the public and post on this wall! If you want to write a message for another person, enter their name in the "Posts For" box and switch the wall to their name!</p>
      </div>
      <div class="col-md-2">
        <img class="logo img-responsive pull-right" src="images/world.png" alt="Header Picture">
      </div>
    </header><!-- /header -->
    <div class="row change-wall">
      <div class="md-col-12">
        <form>
          Posts For:
          <input type="text" value="{{wall_name}}" name="wall_name">
          <input type="submit" class="btn btn-primary" value="Change Wall">
        </form>
      </div>
    </div>
    <div class="row post-wall">
      <div class="col-md-4">
        <h2>Logged In As:</h2>
        <div class="user-panel">
          <h3>{{user_name}}</h3>
          <h3><a href="{{url}}">{{url_linktext}}</a></h3>
        </div>
      </div>
      <div class="col-md-8">
         <form class="form-submission" action="/sign?wall_name={{wall_name}}" method="post">
          <textarea class="form-control" name="content" rows="5" cols="90"></textarea><br>
          <input type="submit" class="btn btn-primary" value="Post to Wall">
        </form>
      </div>
    </div>
    <div class="row post-container">
      <div class="md-col-12">
        <h3 class="bottom-border">{{wall_name}}'s Wall</h3>
        {% block content %}{% endblock %}
      </div>
      {% if continue_posts %}
      <div class="md-col-12 next-post">
        <h3><a href="/?wall_name={{wall_name}}&continue_posts={{continue_posts}}">Get Next 10 Posts</a></h3>
      </div>
      {% endif %}
    </div>

  </div> <!-- /container -->
</body>
</html>